html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  color: #fff;
  font-family: Cabin, sans-serif;
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font-family: Cabin, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  cursor: pointer;
}